<html lan xmlns="http://www.w3.org/1999/html">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style>
            .text-justify {
                text-align: justify;
            }
            .text-center {
                text-align: center;
            }
            .list-campus {
                list-style: none;
                margin-left: -39px;
            }
            ul li {
                padding: 5px 0;
            }
            .right {
                text-align: right;
            }
            .table {
                margin-bottom: 20px;
                width: 100%;
            }
            #tableSemestralidade{
                width: auto;
                border-collapse: collapse;
                border-spacing: 0;

            }
            .text-center {
                text-align: center;
            }

            #assinatura p {
                padding: 0;
                margin: 0;
            }

            table {
                /*background-color: rgba(0, 0, 0, 0);*/
                max-width: 100%;
            }
            table {
                border-collapse: collapse;
                border-spacing: 0;
            }
            #tableSemestralidade tr{
                text-align: center;
            }
            #tableSemestralidade tr td{
                border: ;
                border-spacing: 0;
                border: 1px solid black;
                width: 10% !important;
                text-align: center;
            }
            .text-center {
                text-align: center;
            }

            .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
                border-top: 0 none;
            }
            .table > thead > tr > th {
                border-bottom: 2px solid #DDDDDD;
                vertical-align: bottom;
            }
            .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                border-top: 1px solid #DDDDDD;
                line-height: 1.42857;
                padding: 8px;
                vertical-align: top;
            }
            table td[class*="col-"], table th[class*="col-"] {
                display: table-cell;
                float: none;
            }
            .col-md-5 {
                width: 41.6667%;
            }
            .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
                float: left;
            }
            .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px;
                position: relative;
            }
            .text-center {
                text-align: center;
            }
            th {
                text-align: left;
            }
            .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
                background-color: #F9F9F9;
            }
            .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                border-top: 1px solid #DDDDDD;
                line-height: 1.42857;
                padding: 8px;
                vertical-align: top;
            }
            .text-left {
                text-align: left;
            }
            div.tab{
                width: 30px;
                height: 2px;
                margin-top: 0px;
                float: left;
            }
            .descCurso{
                line-height: 0.5;
            }

            #totalVagasMantenedora {
                font-size: 12px;
            }
        </style>
    </head>
    <body>
    <table class="table table-striped" border="1px" cellpadding="0" cellspacing="0">
            <?php
            $coMaterial = 0;
            foreach($this->material as $material):
                if ($coMaterial != $material['co_material']) :
                    echo "
                        <tr>
                            <th>Código SABESP</th>
                            <th colspan='2'>Nome Básico</th>
                            <th>Unidade de Medida</th>
                            <th colspan='3'>Especificação de Classe</th>
                            <th>Especificação de Série</th>
                        </tr>
                        <tr>
                            <td>{$material['nu_sabesp']}</td>
                            <td colspan='2'>{$material['noBasico']}</td>
                            <td>{$material['no_unidade_medida']}</td>
                            <td colspan='3'>{$material['ds_esp_classe']}</td>
                            <td>{$material['ds_esp_serie']}</td>
                        </tr>
                        <tr>
                            <th>Empresa</th>
                            <th>Fornecedor</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Número do Contrato</th>
                            <th>Número ATA</th>
                            <th>Especificação Padrão</th>
                            <th>Data da Informação</th>
                        </tr>
                        ";
                endif;
                echo "
                    <tr>
                        <td>{$material['no_empresa']}</td>
                        <td>{$material['no_fornecedor']}</td>
                        <td>{$material['vl_com_imposto']}</td>
                        <td>{$material['qt_produto']}</td>
                        <td>{$material['nu_contrato']}</td>
                        <td>{$material['nu_ata']}</td>
                        <td>{$material['st_especificacao_padrao']}</td>
                        <td>{$material['dt_informacao']}</td>
                    </tr>
                ";
                $coMaterial = $material['co_material'];
                endforeach;
            ?>
        </table>
    </body>
</html>